
body {
	margin: 0;
	padding: 0;
}

/* TODO: Change bg and border colors; */

.clock-container {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0;
	margin: 0;
}

.clock {
	width: 200px;
	height: 200px;
	position: relative;
	border: 5px solid black;
	border-radius: 50%;
}

.clock__hand {
	width: 95px;
	height: 2px;
	position: absolute;
	top: 50%;
	left: 5px;
	transform: rotate(90deg);
	transform-origin: 100%;

	background: black;
}